.category-card {
  width: 135px;
  height: 180px;
  background-color: #F5F5F5;
  border-radius: 5px;
  transition-property: transform 0.2s ease-in-out;
  transition-duration: 500ms;

  &:hover{
    background-color: #FFF;
    box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.05), 4px 4px 20px rgba(0, 0, 0, 0.05);
    transform: scale(1.1);
  }
}

.category-card-image {
  width: 100%;
  height: 70px;
  object-fit: scale-down;


}

.category-card-title {
  font-size: 14px;
  width: 70%;
  text-align: center;
  color: #000;


}


/*CARD'S  DE STORE (INDEX-STORES)*/
.index-stores{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  .store{
    width: 100%;
    height: 210px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    transition-property: transform 0.2s ease-in-out;
    transition-duration: 500ms;

    &:hover{
      transform: scale(1.02);
  }
  }

  .default-image{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("tienda1.jpg");
  }

  .default-image-show{
    height: 400px;
    width: 400px;
  }
  a{
    color: #fff;
  }

  .store-name{
    font-size: 2em;
  }
}

/*MEDIA-QUERY*/
@media(max-width: 992px) {
  .index-stores {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 768px) {
  .index-stores {
    grid-template-columns: 1fr;
  }
}


