<h1>Mis pedidos</h1>

<% @orders.each do |order| %>
  <p></p>
  <%= order.id %>
  <% order.cart.products.each do |product| %>
    <%= product.name %>
    <%= product.store %>
    <%=  %>
  <% end -%>
<% end -%>
