.footer {
  background-color: #353535;
  width: 100%;
  color: #fff;
  z-index: 2;
  position: relative;
}

.feature {
  display: flex;
  color: #fff;
}

.img-feature {
  width: 30px;
  height: 100%;
}

.feature-title {
  font-weight: 700;
  font-size: 0.75em;
}

.feature-subtitle{
  font-size: 0.6em
}

.footer-divider {
  border-bottom: 1px solid #fff;
}

.info-footer {
  width: 30%;
}

.title-links {
  font-size: 0.8em;
  font-weight: 700;
}

.footer-link {
  color: #fff;
  font-size: 0.65em;

  &:hover {
    color: $primary;
  }
}

.call-icon {
  font-size: 0.7em;
  color: #fff;
}

.tel-link {
  font-size: 1.2em;
  color: #fff;

  &:hover {
    color: $primary;
  }
}

.email-link {
  font-size: 0.8em;
  color: #fff;

  &:hover {
    color: $primary;
  }
}
