.mapboxgl-popup {
  max-width: 1000px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #FFB26B!important;
  border-radius: 10px!important;
}
