#map{
  //position: sticky!important;
  top: 0!important;
  //height: 50vh!important;
  //width: 25vw!important;
}

.map-review{
  position: fixed!important;
  z-index: 1;
}
.mapboxgl-popup {
  max-width: 10rem!important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #F0F0F0!important;
  border-radius: 10px!important;
}
