.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

p {
  font-size: 0.6em;
  margin: 0 0 -10px 0;
}

.user-name,
.price,
.dropdown-title {
  font-size: 0.85em;
  font-weight: 700;
  color: #212121;
}

.sign-up {
  color: #FF7B54;
}


ul li i{
  color: #212121;
}

.over-title {
  color: #A3A3A3;
}

.no-decoration {
  text-decoration: none;
}

.search {
  position: absolute;
  left: 25%;
  top: 25%;

}
.search-bar {
  width: 40vw;
  padding: 0.5rem 0.7rem;
  font-size: 0.7em;
  background-color: #F0F0F0;
  border-radius: 5px 0 0 5px;
  box-shadow: none;
  border: none;
  outline: none;
}

.search-button {
  padding: 6px 15px;
  color: #FFF;
  background-color: #FF7B54;
  border-radius: 0 5px 5px 0;
  font-size: 0.7em;
  &:hover {
    background-color: #ff5338;
    color: #FFF;
  }
}

.logo {
  height: 100%;
  width: 20px;
  transform: rotate(325deg)
}


.logo-title{
  font-size: 1em;
  font-weight: 700;
  color: #212121;
  &:hover {
    color:#212121;
  }
}

@media (max-width: 1401px) {
  .search-bar {
    align-self: center;
    width: 30vw;

  }

  .search {
    margin-left: auto;
    margin-right: auto;
    left: 20vw;
    right: 50vw;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .search-bar {
    align-self: center;
    width: 30vw;

  }

  .search {
    margin-left: auto;
    margin-right: auto;
    left: 20vw;
    right: 50vw;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .search-bar {
    align-self: center;
    width: 20vw;

  }

  .search {
    margin-left: auto;
    margin-right: auto;
    left: 20vw;
    right: 50vw;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .navbar-lewagon {
     position: static;
  }

  .search {
  position: static;
  }

  .search-bar {
    align-self: center;
    width: 75vw;

  }

  .product_search {
    margin-top: 10px;
  }

  .search {
    margin-left: auto;
    margin-right: auto;
    left: 25vw;
    right: 0;
    text-align: center;
  }

  .search-center {
    width: 100vw;
    display: flex;
    justify-content: center !important;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .dropdown-menu-right {
    right: auto;
    left: auto;
  }
}



@media (max-width: 576px) {
  .navbar-lewagon {
     position: static;
  }

  .search {
  position: static;
  }

  .search-bar {
    align-self: center;
    width: 75vw;
  }

  .product_search {
    margin-top: 10px;
    width: 90vw;
    display: flex;
    justify-content: center !important;
  }

  .search-center {
    width: 100vw;
    display: flex;
    justify-content: center !important;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .dropdown-menu-right {
    right: auto;
    left: auto;
  }

  .user-name,
  .price,
  .dropdown-title {
    font-size: 0.7em;
  }

  p {
    font-size: 0.5em;
  }
}






