.order-img{
  width: 100px;
}

.order-card{
  width: 700px;
  border-radius: 5px;
  border: 1px solid #D5D5D5;
}

.order-divider{
  border-bottom: 1px solid #E6E6E6;
  width: 100%;
}

.product-store-name.order{
  font-size: 0.7em;
}


// Card para datos de transacción de orden (comprobante de pago)

.payed-details{
  border-radius: 5px;
  border: 1px solid #D5D5D5;
 
  height: 238px;
  width: 700px;
}

.back-color{
  background-color:#F5F5F5;
  border-radius: 4px;
  height: 66px;
  margin-bottom: 3px;
}


#card-content{
align-self: flex-end;
margin-bottom: 15px;

}
