.logo-store-image{
  width: 250px;
  height: 100%;
  background-color: #75B82B;
  font-size: 2em;
  padding: 2.38em 0;
  color: #fff;
  border-radius: 2px 0 0 2px;
}

.store-name{
  font-size: 1.2em;
}

.content-store{
  width: 60%;
}

.comment{
  font-size: 1em;
  color: rgba(196, 196, 196, 1);
}
