<div class="container my-5">

  <h1 class="card-title text-center">Productos</h1>
  <div class="d-flex flex-column align-items-center">

  <div class="products-store mt-5 justify-content-start mx-4">
    <%= render "product_card" %>
  </div>

  <div class="pagination m-2 p-2 align-self-center ">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>

  </div>
</div>

