<%= simple_form_for([@store, @review], remote: true)do |f| %>
  <%= f.input :rating, collection: (1..5).to_a, label: false %>
  <div style="width: 250px;"
    <%= f.input :comment, label: "Comentario" %>
  </div>
  <%= f.button :submit,"Crear reseña", class:"boton-primario" %>  
<% end %>
