

<div class="reviews">
  <p><%= review.rating.to_i.times do %>
   <i class="fas fa-star" style="color: orange" ></i>
   <% end %>
  </p>

  <p class="review review-comment"><%= review.comment %></p>

 <% if user_signed_in? %>
  <!-- add if user_signed_in? -->
  <% if review.user_id == current_user.id %>
    <!-- add current_user.id -->
      <%= link_to "Edit", edit_store_review_path(review.store, review), class: "btn btn-review-edit" %>
      <%= link_to "Delete", store_review_path(review.store, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-review-delete" %>
  <% end %>
<% end %>
</div>