<h1 class ="title-cart text-center">Edit Review</h1>
<div class="edit-store-form">
  <%= simple_form_for([@store, @review]) do |f| %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", default: '1' %>
    <%= f.input :comment %>
    <%= f.button :submit,"Actualizar tu experiencia", class:"boton-primario", id:"btn-review-save"%>
  <% end %>
</div>
