<div class="container">
  <h1 class= "card-title text-center m-5">Preguntas Frecuentes</h1>
  <div class = "mb-5" id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            ¿Cómo vender en Demizona?
          </button>
        </h5>
      </div>

      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Demizona busca tener participación activa en todo el territorio nacional. Por ello que cualquier proveedor de hortalizas puede intregarse de manera activa en el comercio dispuesto por Demizona, el vendedor debe estar encargado del despacho y posterior entrega de los productos ofrecidos mediante la plataforma.
        
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cómo puedo comprar en Demizona?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Es necesario completar el formulario de registro en la plataforma. Esto le permite tener acceso a la información y conocer los proveedores que se encuentran disponibles en su región. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Es necesario estar formalizado para vender en Demizona?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          No es necesario tener una empresa constituida en el SII para iniciar el proceso de transformación tecnológico de su negocio.
        </div>
      </div>
    </div>
      <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Cómo elegir a qué vendedor comprarle?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          Es muy importante que al momento de realizar una compra, se verifique la ubicación en la que se encuentra el vendedor, de tal manera que pueda existir la posibilidad de 
          realizar el despacho y la posterior entrega de los productos comprados. Demizona no se hace responsable de cualquier perjuicio ocasionado por algún vendedor.
          </div>
        </div>
      </div>
      <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ¿Cómo y cuándo opinar sobre el vendedor?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
        <div class="card-body">
           Demizona entrega la posibilidad de que puedas evaluar tu experiencia con la tienda, disponiendo para el cliente la oportunidad de realizar un comentario relatando su experiencia con el vendedor.
        </div>
      </div>
    </div>
      <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            ¿Cómo protegemos a los compradores?
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
        <div class="card-body">
          Demizona es el encargado de recibir los pagos de las compras realizadas, una vez que el vendedor realice la entrega de los productos, se podrá liberar los dineros al vendedor.
        </div>
      </div>
    </div>
  </div>
</div>